%h1
  Request or Propose a Presentation
- form_for(@presentation) do |f|
  = f.error_messages
  %p
    = f.label :subject
    %br
    = f.text_field :subject
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.submit 'Request'

= link_to 'Back', presentations_path
