%p
  %b
    Subject:
  = h @presentation.subject
%p
  %b
    Description:
  = h @presentation.description
%p
  %b
    Submitted by:
  = h @presentation.submitted_by
  
= link_to 'Edit', edit_presentation_path(@presentation)
|
= link_to 'Back', presentations_path
