%h1
  Listing configurations
%table
  %tr
    %th
      Name
    %th
      Value
  - @configurations.each do |configuration|
    %tr
      %td
        = h configuration.name
      %td
        = h configuration.value
      %td
        = link_to 'Show', configuration
      %td
        = link_to 'Edit', edit_configuration_path(configuration)
      %td
        = link_to 'Destroy', configuration, :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New configuration', new_configuration_path
