%h1
  New configuration
- form_for(@configuration) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :value
    %br
    = f.text_field :value
  %p
    = f.submit 'Create'

= link_to 'Back', configurations_path
