%h1
  New talk
- form_for(@talk) do |f|
= f.error_messages
%p
  = f.label :subject
  %br
  = f.text_field :subject
%p
  = f.label :description
  %br
  = f.text_area :description
%p
  = f.submit 'Create'
= link_to 'Back', talks_path
