%h1 Edit My Account

- form_for @user, :url => account_path do |f|
  = f.error_messages
  = f.label :name
  %br
  = f.text_field :name
  %br
  %br
  = f.label :email
  %br
  = f.text_field :email
  %br
  %br
  = f.label :speaker, "Register as a Speaker"
  %br
  = f.check_box :speaker
  %br
  %br
  = f.label :password, f.object.new_record? ? nil : "Change password"
  %br
  = f.password_field :password
  %br
  %br
  = f.label :password_confirmation
  %br
  = f.password_field :password_confirmation
  %br
  = f.submit "Update"
  

%br
= link_to "My Profile", account_path
