%h2 Connect with #{laruby}
%p
  Please feel free to follow us and contribute to our growing group. If you need some immediate help,
  stop by our IRC channel on freenode. If you are unfamiliar with IRC, feel free to use the 
  freenode provided web based IRC cleint below.
%ul
  %li
    = link_to_new_window 'Meetup.com', 'http://www.meetup.com/laruby/'
  %li
    = link_to_new_window 'Twitter', 'http://twitter.com/laruby'
  %li
    = link_to_new_window 'Facebook', 'http://www.facebook.com/group.php?gid=70061197785'
  %li
    = link_to_new_window 'LinkedIn', 'http://www.linkedin.com/groups?gid=1089287'
  %li
    = link_to_new_window 'Code Jam', 'http://groups.google.com/group/laruby-codejam'
  %li
    = link_to_new_window 'Github', 'http://github.com/laruby'
  %li
    IRC:
    = link_to '#laruby', 'irc://irc.freenode.net/laruby'
    or
    = link_to_new_window "web irc", "http://webchat.freenode.net/"
