%h2
  = laruby
  on the web
%ul
  %li= link_to 'Meetup.com', 'http://www.meetup.com/laruby/'
  %li
    Follow
    = link_to 'laruby', 'http://twitter.com/laruby'
    on twitter
  %li
    = link_to 'LinkedIn', 'http://www.linkedin.com/groups?gid=1089287'
    group
  %li
    = laruby
    = link_to 'Code Jam', 'http://groups.google.com/group/laruby-codejam'
  %li
    IRC:
    /*%b #laruby*/
    = link_to '#laruby', 'irc://irc.freenode.net/laruby'
    or
    = link_to 'web irc', 'http://webchat.freenode.net/'
  %li
    = link_to 'laruby', 'http://github.com/laruby'
    on Github
%h2
  == #{laruby}
  on Twitter
#larubyTweets
