:javascript
  $(document).ready(function(){
  if (!GBrowserIsCompatible()) {
  alert('Your browser is not compatible with the Google Maps API');
  return;
  }
  if (!document.getElementById("map")) {
  return;
  }
  // Create our "tiny" marker icon
  var redIcon = new GIcon();
  redIcon.image = "http://labs.google.com/ridefinder/images/mm_20_red.png";
  redIcon.shadow = "http://labs.google.com/ridefinder/images/mm_20_shadow.png";
  redIcon.iconSize = new GSize(12, 20);
  redIcon.shadowSize = new GSize(22, 20);
  redIcon.iconAnchor = new GPoint(6, 20);
  redIcon.infoWindowAnchor = new GPoint(5, 1);

  var greenIcon = new GIcon();
  greenIcon.image = "http://labs.google.com/ridefinder/images/mm_20_green.png";
  greenIcon.shadow = "http://labs.google.com/ridefinder/images/mm_20_shadow.png";
  greenIcon.iconSize = new GSize(12, 20);
  greenIcon.shadowSize = new GSize(22, 20);
  greenIcon.iconAnchor = new GPoint(6, 20);
  greenIcon.infoWindowAnchor = new GPoint(5, 1);

  var yellowIcon = new GIcon();
  yellowIcon.image = "http://labs.google.com/ridefinder/images/mm_20_yellow.png";
  yellowIcon.shadow = "http://labs.google.com/ridefinder/images/mm_20_shadow.png";
  yellowIcon.iconSize = new GSize(12, 20);
  yellowIcon.shadowSize = new GSize(22, 20);
  yellowIcon.iconAnchor = new GPoint(6, 20);
  yellowIcon.infoWindowAnchor = new GPoint(5, 1);

  // Set up our GMarkerOptions object literal
  noMarkerOptions = { icon:redIcon };
  yesMarkerOptions = { icon:greenIcon };
  maybeMarkerOptions = { icon:yellowIcon };


  map = new GMap2(document.getElementById("map"));
  map.setUIToDefault();
  map.setCenter(new GLatLng(0,0),0);
  var bounds = new GLatLngBounds();
  #{add_markers(@coords)}
  map.addOverlay(new GMarker(new GLatLng(#{@mid_lat}, #{@mid_long})));
  map.setZoom(map.getBoundsZoomLevel(bounds));
  map.setCenter(bounds.getCenter());
  });
  
= @event.name 
%br
= @event.time 
%br
= "RSVP'd: #{image_tag "http://labs.google.com/ridefinder/images/mm_20_green.png"} #{@coords["yes"].count} Yes, #{image_tag "http://labs.google.com/ridefinder/images/mm_20_yellow.png"} #{@coords["maybe"].count} Maybe, #{image_tag "http://labs.google.com/ridefinder/images/mm_20_red.png"} #{@coords["no"].count} No"
#map{:style => "height: 400px; width: 500px;"}