<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		if (!GBrowserIsCompatible()) {
			alert('Your browser is not compatible with the Google Maps API');
			return;
		}
		if (!document.getElementById("map")) {
			return;
		}
		// Create our "tiny" marker icon
		var tinyIcon = new GIcon();
		tinyIcon.image = "http://labs.google.com/ridefinder/images/mm_20_red.png";
		tinyIcon.shadow = "http://labs.google.com/ridefinder/images/mm_20_shadow.png";
		tinyIcon.iconSize = new GSize(12, 20);
		tinyIcon.shadowSize = new GSize(22, 20);
		tinyIcon.iconAnchor = new GPoint(6, 20);
		tinyIcon.infoWindowAnchor = new GPoint(5, 1);

		// Set up our GMarkerOptions object literal
		markerOptions = { icon:tinyIcon };
		
		
		map = new GMap2(document.getElementById("map"));
		map.setUIToDefault();
		map.setCenter(new GLatLng(0,0),0);
		var bounds = new GLatLngBounds();
		//map.setCenter(new GLatLng(<%= @event.lat %>, <%= @event.lon %>), 9);
		<% @coords.each do |coord| %>
		map.addOverlay(new GMarker(new GLatLng(<%= coord[:lat] %>, <%= coord[:long] %>), markerOptions));
		bounds.extend(new GLatLng(<%= coord[:lat] %>, <%= coord[:long] %>)); 
		<% end %>
		map.addOverlay(new GMarker(new GLatLng(<%= @mid_lat %>, <%= @mid_long %>)));
		map.setZoom(map.getBoundsZoomLevel(bounds));
		map.setCenter(bounds.getCenter());
	});
</script>
<%= @event.name %><br />
<%= @event.time %><br />
RSVP's: <%= @coords.count %>
<div id="map" style="height: 400px; width: 500px;"></div>