<h1>Add a New Resource</h1>

<% form_for(@resource) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :submitted_by %><br />
    <%= f.text_field :submitted_by %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', resources_path %>