<p>
  <b>Link:</b>
  <%=h @resource.link %>
</p>

<p>
  <b>Description:</b>
  <%=h @resource.description %>
</p>

<p>
  <b>Submitted by:</b>
  <%=h @resource.submitted_by %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>