!!! XML
!!!
%html{html_attrs}
%head
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  %title #{laruby}.com
  = javascript_include_tag 'jquery-1.3.2.min', 'juitter/jquery.juitter', 'application'
  -#= javascript_tag nil, {:type => "text/javascript",:src  => "http://maps.google.com/maps?file=api&amp;v=2&amp;key=#{MAP_API_KEYS[request.host]}"}
  = stylesheet_link_tag 'reset', 'text', '960', 'application'

%body
  %div.container
    %div.container_16
      %div.grid_16
        %h1#logo 
          = link_to "#{laruby}.com", 'http://laruby.com'
      %div.grid_7
        %ul#navigation
          %li= link_to 'Home', root_path
          %li= link_to 'Connect', static_page_path(:page => 'connect')
          %li= link_to 'About', static_page_path(:page => 'about')
          .clear
        -# Not working yet but would like to...may be waste of time
        -#= navigation "navigation"
        -#.clear
      .clear
      %div.grid_10#content
        = yield
      %div.grid_5.prefix_1#sidebar
        - unless controller.action_name == "events"
          %h2
            = laruby
            Meetup
          = render :partial => 'pages/events', :locals => { :events => meetup_events } 
      .clear
    -# too tired to figure this out right now
    -# would like to use helper to get er dun
    -#%div.footer
      -#%ul#footer_navigation
        -#%li= link_to 'Home', root_path
        -#%li= link_to 'Connect', static_page_path(:page => 'connect')
        -#%li= link_to 'About', static_page_path(:page => 'about')

  :javascript
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  :javascript
    try {
    var pageTracker = _gat._getTracker("UA-10121876-1");
    pageTracker._trackPageview();
    } catch(err) {}
