!!!
<html lang="en">
%head
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  %title LaRuby.com
  = javascript_include_tag 'jquery-1.3.2.min', 'juitter/jquery.juitter', 'application'
  = javascript_tag nil, {:type => "text/javascript",:src  => "http://maps.google.com/maps?file=api&amp;v=2&amp;key=#{@map_key}"} unless @map_key.nil?
  = stylesheet_link_tag 'reset', 'text', '960', 'application'

%body
  %div.container_16
    %div.grid_16
      %h1#logo 
        =link_to 'LA<span>Ruby</span>.com', 'http://laruby.com'
    %div.grid_7
      %ul#navigation
        %li= link_to 'About', static_page_path(:page => 'about')
        .clear
    .clear
    %div.grid_10#content
      = yield
    %div.grid_5.prefix_1#sidebar
      - unless controller.action_name == "events"
        %h2
          =link_to 'Meetup', 'http://www.meetup.com/laruby/'
        = render :partial => 'pages/events', :locals => { :events => meetup_events } 
    .clear
